* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background-color: #1f2937;
  padding: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3.125em;
  height: auto;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 3.125em;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.125em;
  color: #e5e7eb;
}

/* ABOUT ME */

#about-me {
  background-color: #1f2937;
  padding: 3.125em;
  display: flex;
  justify-content: center;
}

.about-me {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 50%;
}

h1 {
  font-size: 3em;
  color: #f9faf8;
  margin-bottom: 0.3125em;
}

p {
  color: #f9faf8;
}

.my-photo {
  width: 18.75em;
  height: auto;
  border-radius: 50%;
}

/* PROJECTS */
#projects {
  padding: 3.125em;
  margin-bottom: 3.125em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.25em;
  color: #1f2937;
  font-weight: 800;
  margin-bottom: 1.875em;
}

.all-projects {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9375em;
  text-align: center;
}

.project-img {
  width: 10.625em;
  height: auto;
  border: 0.1875em solid #3882f6;
  border-radius: 10%;
  margin-bottom: 0.625em;
}

.project-info {
  color: #708090;
  font-size: 0.875em;
}

/* SKILLS */
#skills {
  background-color: #e5e7eb;
  padding: 3.125em;
  margin-bottom: 3.125em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stack-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125em;
  margin-bottom: 2.5em;
}

.stack-icon {
  width: 4.375em;
  height: auto;
}

.stack-description {
  width: 70%;
  color: #1f2937;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5em;
}

/* CONTACTS */
#contacts {
  padding: 3.125em;
  margin-bottom: 3.125em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-list {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25em;
}

.profile-link:link,
.profile-link:visited {
  text-decoration: none;
}

.profile-icon {
  width: 4.375em;
  height: auto;
}

/* FOOTER */
footer {
  background-color: #1f2937;
  padding: 1.875em;
  text-align: center;
  color: #e5e7eb;
  font-size: 0.75em;
}

/* MOBILE OPTIMIZATION */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* HEADER */
  header {
    padding: 0.625em;
    display: flex;
    justify-content: flex-start;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .logo {
    width: 2.5em;
    height: auto;
  }

  ul {
    gap: 1.25em;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 0.875em;
  }

  /* ABOUT ME */

  #about-me {
    padding: 0.625em;
    padding-bottom: 1.875em;
  }

  .about-me {
    width: 100%;
    justify-content: center;
    gap: 1.875em;
  }

  .description {
    width: 50%;
  }

  h1 {
    font-size: 1.125em;
    color: #f9faf8;
    margin-bottom: 0.3125em;
  }

  p {
    color: #f9faf8;
    font-size: 0.75em;
  }

  .my-photo {
    width: 9.375em;
    height: auto;
    border-radius: 50%;
  }

  /* PROJECTS */
  #projects {
    padding: 0.625em;
  }

  h2 {
    font-size: 0.875em;
    margin-top: 1.875em;
  }

  .all-projects {
    width: 100%;
    flex-wrap: wrap;
  }

  .project-img {
    width: 6.25em;
    height: auto;
    border: 0.125em solid #3882f6;
    border-radius: 10%;
    margin-bottom: 0.625em;
  }

  .project-info {
    color: #708090;
    font-size: 0.625em;
  }

  /* SKILLS */
  #skills {
    padding: 0.625em;
    padding-bottom: 1.875em;
    margin-bottom: 1.875em;
  }

  .stack-icon {
    width: 3.125em;
    height: auto;
  }

  .stack-description {
    width: 100%;
    font-size: 1em;
  }

  /* CONTACTS */
  #contacts {
    padding: 0.625em;
    padding-bottom: 1.875em;
    margin-bottom: 1.875em;
  }

  .contacts-list {
    width: 100%;
    flex-wrap: wrap;
    gap: 3.125em;
  }

  .profile-icon {
    width: 3.125em;
    height: auto;
  }
}
